<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | hello</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/hello.css')}}">
</head>
<body>
    <h1>Bienvenido a mi primera página</h1>
    <h2>Tu ip es : {{userIp}} </h2>
    <h2>Tu mascota es : {{mascota}}</h2>
    <img src="{{url_for ('static', filename = 'images/l.jpeg')}}" alt="foto de lior">
    <a href="hey">Vamos a la ruta hey</a>
</body>
</html>