<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/login.css')}}">
</head>
<body>
    <div class="login-box">
        <form action="login" method="post">
            <h1>Ingrese su nombre</h1>
            <div class="textbox">

                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="name" placeholder="Ingrese su nombre" >
            </div>
            <div class="textbox">

                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" name="pass" placeholder="Ingrese su contraseña" >
            </div>
            
            <input type="submit" class="btn"  value="Entrar">
        </form>
    </div>
</body>
</html>